<ion-view view-title="الفهرس" class="main_bg" hide-nav-bar="true" ng-controller="indexController">


    <ion-content class="dark-bg" overflow-scroll="true">

        <!--<ul id="main-nav">
            <button class="button icon-right main-tab settings-tab" ng-click="mgoBack()"><i class="ion-arrow-left-c"></i></button>
            <div class="book-bg animated slideInUp">
            </div>
            <li ng-repeat="item in items" ng-click="toggle = !toggle;$event.stopPropagation();" ng-class="{'active' : toggle}">
                <a><img ng-src="{{item.image}}"></a>

                <div class="list-index list-index1">

                    <h3 class="title-index">
                        فقه الدعاء
                        <button class="button icon-right main-tab settings-tab"><i class="ion-arrow-left-c"></i></button>
                    </h3>

                    <ul>
                        <li ng-repeat="article in articles track by $index"><a ui-sref="article({id:article.ID})" ng-click="$event.stopPropagation();">{{article.Name}}</a></li>

                    </ul>

                </div>
                <div class="list-index list-index2">

                    <h3 class="title-index">
                        الدعاء             <button class="button icon-right main-tab settings-tab"><i class="ion-arrow-left-c"></i></button>
                    </h3>

                    <ul>
                        <li ng-repeat="mainCateg in doaas track by $index"><a ui-sref="doaa({id:$index})" ng-click="$event.stopPropagation();">{{doaa.Name}}</a></li>


                        <li ng-repeat="mainCateg in doaas track by $index" ng-click=" mainCateg.length == 1 ? openDoaa(mainCateg[0].ID) : setMaster(mainCateg) ;$event.stopPropagation();" ng-class="{'sub-menu' : isSelected(mainCateg), 'has-submenu':mainCateg.length!='1'}">
                            <a>{{mainCateg[0].DoaaMainCategoryName}} </a>
                            <ul>
                                <li ng-repeat="doaa in mainCateg track by $index"><a ui-sref="doaa({id:doaa.ID})">{{doaa.Name}}</a></li>

                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="list-index list-index3">

                    <h3 class="title-index">
                        أسماء الله الحسنى
                        <button class="button icon-right main-tab settings-tab"><i class="ion-arrow-left-c"></i></button>
                    </h3>
                    <div class="cards">

                        <div ng-repeat="name in namesOfAllah" class="card-item" ng-class="{'activated' : isSelected(name) }" ng-click="setMaster(name) ;$event.stopPropagation();">
                            <div class="card-content">
                                <div class="front">
                                    <a><img ng-src="{{CPapiDomainLink+name.NameOfAllahImage}}"></a>
                                </div>
                                <div class="back">
                                    <p id="{{name.Number}}" compile="name.NameOfAllahMeaning"></p>
                                    <button class="button icon-right" ng-click="shareName(name)"><i class="ion-share"></i></button>
                                </div>
                            </div>
                        </div>


                    </div>




                </div>

            </li>


        </ul>-->




        <div id="cover">
            <div class="cover-logo-wrapper">
                <div id="cover-logo">
                    <div id="cover-logo-box-1" class="cover-logo-boxes animated slideInDown">
                        <img src="./img/hands.png" />
                    </div>
                    <div id="cover-logo-box-2" class="cover-logo-boxes animated slideInRight">
                        <div><a ui-sref="article-list"><span><h3>فقه الدعاء</h3></span></a></div>
                    </div>
                    <div id="cover-logo-box-3" class="cover-logo-boxes animated slideInLeft">
                        <div>
                            <a ui-sref="doaa-list">
                                <span><h3> الدعاء</h3></span>
                            </a>
                        </div>
                    </div>
                    <div id="cover-logo-box-4" class="cover-logo-boxes animated slideInUp">
                        <div>
                            <a ui-sref="namesofallah">
                                <span><h3>أسماء الله <br /> الحسنى </h3></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
    <!--<div class="button-info animated slideInUp">
        <button class="button icon-right" ui-sref="settings"><i class="ion-gear-b"></i> الإعدادات</button>
        <button class="button icon-right" ui-sref="about"><i class="ion-alert"></i> عن التطبيق</button>
        <button class="button icon-right" ng-click="shareApp()"><i class="ion-share"></i> مشاركة التطبيق</button>
    </div>-->
    <button class="button icon-right" ui-sref="dashboard"><i class="ion-arrow-right-c"></i></button>

</ion-view>