<div class="bar bar-subheader item-input-inset bar-royal" id="divSearch">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <!--<input type="search" placeholder="بحث" ng-model="searchKey" required name="searchKey">-->
        <input type="search" placeholder="بحث في آيات القرآن الكريم" ng-model="searchKey" required name="searchKey" class="searchBox" ng-keyup="$event.keyCode == 13 && searchKey && search(searchKey)"></input>
    </label>
    <!--<ion-nav-back-button class="no-text">
    </ion-nav-back-button>-->
    <button class="button button-clear button-positive" ng-click="search(searchKey)" ng-disabled="!searchKey">
        بحث
    </button>
</div>

<ion-content class="has-subheader">
    <div class="info-bar" ng-show="searchResult.length">نتائج البحث: <strong>{{searchResult.length}}</strong></div>

    <ion-list class="list-primary list-search">
        <ion-item class="item" ng-if="isSearching">
            <div class="">
                <p class="aya-search">جاري البحث <ion-spinner name="bubbles"></ion-spinner></p>
            </div>
        </ion-item>
        <ion-item class="item" ng-if="searchResult.length==0 && !isSearching">
            <div class="">
                <p class="aya-search">عذرا! لاتوجد نتائج مطابقة للبحث.</p>
            </div>
        </ion-item>
        <ion-item class="item" ng-repeat="result in searchResult| limitTo: loadMore">
            <a ng-click="goToPage(result.PageNum,result.id)">
                <p class="aya" ng-class="{UthmanicHafs: MoshafId==enums.mosahfCopy.hafs.id,UthmanicQaloon: MoshafId==enums.mosahfCopy.qalon.id,UthmanicWarsh: MoshafId==enums.mosahfCopy.warsh.id}" ng-bind-html="getHtml(result.verse)"></p>
            </a>
            <small class="badge badge-stable" ng-switch="result.surahType"><img src="img/mecca.png" alt="مكية" ng-switch-when="1" /><img src="img/madina.png" alt="مدنية" ng-switch-when="2" />سورة {{result.surahName}}<img src="img/icon2.png" /> آية {{getArabicNumber(result.ayahNum)}} <img src="img/icon3.png" /> صفحة {{getArabicNumber(result.PageNum)}}</small>
        </ion-item>
        <ion-infinite-scroll on-infinite="loadMoreData()" ng-if="moreDataCanBeLoaded()"></ion-infinite-scroll>
    </ion-list>
</ion-content>

