
<ion-view view-title="المحفوظ / غير المحفوظ" ng-controller="unMemorizedController">
    <ion-tabs class="tabs-color-active-positive tabs-top">
        
            <a class="tab-item" href="#/memorized">
                المحفوظ
            </a>
            <a class="tab-item active" href="#/unMemorized">
                غير المحفوظ
            </a>

        
   
</ion-tabs>

    <ion-content class="has-subheader">

        <ion-list class="list-default">

            <ion-item class="item" ng-if="viewMemorizedList.length==0">
                <a>
                    <span class="list-number-name">  لا يوجد آيات غير محفوظة   </span>


                </a>
            </ion-item>
            <ion-item class="item" ng-repeat="surah in viewUnMemorizedList">
                <a ng-click="goToPage(surah.unMemorizedayat[0].PageNum,surah.unMemorizedayat[0].id)">
                    <span class="list-number-name">
                        {{surah.Name}}
                        <!--<i ng-if="surah.isCompleted ">(كاملة)</i>-->
                    </span>
                    <small ng-if="surah.unMemorizedayat.length>1" class="badge badge-stable  badge-assertive badge-assertive">من آية {{getArabicNumber(surah.unMemorizedayat[0].ayahNum)}} إلى آية {{getArabicNumber(surah.unMemorizedayat[surah.unMemorizedayat.length-1].ayahNum)}}</small>
                    <small ng-if="surah.unMemorizedayat.length==1" class="badge badge-stable  badge-assertive badge-assertive">آية {{getArabicNumber(surah.unMemorizedayat[0].ayahNum)}} </small>

                </a>
            </ion-item>



        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

    </ion-content>
    <ion-footer-bar>

        <button class="button icon-right main-tab home-tab animated slideInRight" ui-sref="dashboard">
            <i class="ion-home"></i>
        </button>

        <button class="button icon-right main-tab settings-tab animated slideInLeft" ng-click="mgoBack()">
            <i class="ion-arrow-left-c"></i>
        </button>

    </ion-footer-bar>

</ion-view>
