
<ion-view view-title="النسخ الإحتياطي" ng-controller="loginController">

    <ion-content>
        <form name="login">
            <div class="list">
     
                <label ng-class="{'un-valid':loginData.isNameExist}" class="item item-input item-stacked-label">
                    <span style="color:red" ng-show="login.name.$error.required">*</span>
                    <span class="input-label">اسم المستخدم</span>
                    <input ng-model="loginData.name" required name="name" type="text" placeholder="اسم المستخدم">
                  
                </label>
                <label class="item item-input item-stacked-label">
                    <span style="color:red" ng-show="login.password.$error.required">*</span>
                    <span class="input-label">كلمة المرور</span>
                    <input ng-model="loginData.password" required name="password" type="password" placeholder="كلمة المرور">
                </label>
                <span style="color:red" ng-show="loginData.wrongCredentials"> خطأ فى اسم المستخدم او كلمة المرور    </span>
                <div class="padding text-center">
                    <div class="button-bar">
                        <button ng-disabled=" login.name.$invalid || login.password.$invalid " ng-click="loginUser()" class="button button-positive icon-right "><i class="icon ion-ios-cloud-upload-outline"></i> تأكيد </button>
                        <button ng-click="cancel()" class="button button-positive button-outline icon-right">إلغاء </button>
                    </div>
                    <a href="#/app/register" class="button button-small">  مستخدم جديد</a>

                </div>
            </div>

            </form>
</ion-content>


</ion-view>
